<nav class="navbar bg-primary">
    <div class="container d-flex space-between align-center">
        <div class="logo py-16">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
                alt="logo" class="w-100p">
        </div>
        <ul class="menu d-flex g-64 py-25">
            <li><a class="white f-sm" href="#">門市據點</a></li>
            <li><a class="white f-sm" href="#">系列鏡框</a></li>
            <li><a class="white f-sm" href="#">部落格</a></li>
            <li><a class="white f-sm" href="#">常見問題</a></li>
        </ul>
    </div>
</nav>